venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

data/raw/*
data/interim/*
data/processed/*

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/raw/stuttering/.gitkeep
!data/raw/member_b/.gitkeep
!data/raw/member_c/.gitkeep
!data/raw/member_d/.gitkeep
!data/raw/member_e/.gitkeep

!data/interim/wav_16k/stuttering/.gitkeep
!data/interim/wav_16k/member_b/.gitkeep
!data/interim/wav_16k/member_c/.gitkeep
!data/interim/wav_16k/member_d/.gitkeep
!data/interim/wav_16k/member_e/.gitkeep

!data/interim/trimmed/stuttering/.gitkeep
!data/interim/trimmed/member_b/.gitkeep
!data/interim/trimmed/member_c/.gitkeep
!data/interim/trimmed/member_d/.gitkeep
!data/interim/trimmed/member_e/.gitkeep

!data/interim/segmented/stuttering/.gitkeep
!data/interim/segmented/member_b/.gitkeep
!data/interim/segmented/member_c/.gitkeep
!data/interim/segmented/member_d/.gitkeep
!data/interim/segmented/member_e/.gitkeep

!data/processed/train_set/stuttering/.gitkeep
!data/processed/train_set/member_b/.gitkeep
!data/processed/train_set/member_c/.gitkeep
!data/processed/train_set/member_d/.gitkeep
!data/processed/train_set/member_e/.gitkeep

!data/processed/validation_set/stuttering/.gitkeep
!data/processed/validation_set/member_b/.gitkeep
!data/processed/validation_set/member_c/.gitkeep
!data/processed/validation_set/member_d/.gitkeep
!data/processed/validation_set/member_e/.gitkeep

!data/processed/test_set/stuttering/.gitkeep
!data/processed/test_set/member_b/.gitkeep
!data/processed/test_set/member_c/.gitkeep
!data/processed/test_set/member_d/.gitkeep
!data/processed/test_set/member_e/.gitkeep