# Python
venv/
__pycache__/
*.pyc

# Data klasörleri (ÇOK ÖNEMLİ)
data/raw/
data/interim/
data/processed/

# Büyük dosyalar
*.wav
*.mp3
*.m4a
*.webm

# Notebook cache
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/raw/stuttering/.gitkeep
!data/raw/member_b/.gitkeep
!data/raw/member_c/.gitkeep
!data/raw/member_d/.gitkeep
!data/raw/member_e/.gitkeep

!data/interim/wav_16k/stuttering/.gitkeep
!data/interim/wav_16k/member_b/.gitkeep
!data/interim/wav_16k/member_c/.gitkeep
!data/interim/wav_16k/member_d/.gitkeep
!data/interim/wav_16k/member_e/.gitkeep

!data/interim/trimmed/stuttering/.gitkeep
!data/interim/trimmed/member_b/.gitkeep
!data/interim/trimmed/member_c/.gitkeep
!data/interim/trimmed/member_d/.gitkeep
!data/interim/trimmed/member_e/.gitkeep

!data/interim/segmented/stuttering/.gitkeep
!data/interim/segmented/member_b/.gitkeep
!data/interim/segmented/member_c/.gitkeep
!data/interim/segmented/member_d/.gitkeep
!data/interim/segmented/member_e/.gitkeep

!data/processed/train_set/stuttering/.gitkeep
!data/processed/train_set/member_b/.gitkeep
!data/processed/train_set/member_c/.gitkeep
!data/processed/train_set/member_d/.gitkeep
!data/processed/train_set/member_e/.gitkeep

!data/processed/validation_set/stuttering/.gitkeep
!data/processed/validation_set/member_b/.gitkeep
!data/processed/validation_set/member_c/.gitkeep
!data/processed/validation_set/member_d/.gitkeep
!data/processed/validation_set/member_e/.gitkeep

!data/processed/test_set/stuttering/.gitkeep
!data/processed/test_set/member_b/.gitkeep
!data/processed/test_set/member_c/.gitkeep
!data/processed/test_set/member_d/.gitkeep
!data/processed/test_set/member_e/.gitkeep

!data/processed/dataset.csv
!data/processed/train.csv
!data/processed/test.csv